In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader
from torchvision import datasets, transforms
from torchvision.utils import make_grid

import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import os
from PIL import Image
from IPython.display import display

import warnings
warnings.filterwarnings('ignore')

In [28]:
df = pd.DataFrame(columns='a b c'.split(' '))

In [35]:
df['a'] = [0, 1, 2, 0, 4, 0]

In [36]:
df['b'] = [1, 4, 2, 1, 3, 2]

In [37]:
df['c'] = [3, 9, 1, 3, 5, 7]

In [38]:
df

   a  b  c
0  0  1  3
1  1  4  9
2  2  2  1
3  0  1  3
4  4  3  5
5  0  2  7

In [43]:
df.drop_duplicates(subset='a b c'.split(' '), ignore_index=True, inplace=True)

In [44]:
df

   a  b  c
0  0  1  3
1  1  4  9
2  2  2  1
3  4  3  5
4  0  2  7